body { 
    margin: 0; 
    padding: 0; 
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
    background: #1b202c; 
}
#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}
